/* Project Meta */

/* reset  */
:root {
  font: 20px/1.2 "Roboto", sans-serif;
  height: 100%;
}

/* general */
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.top-nav {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  padding: 4px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  color: #fff;
  background-color: #fff;
  box-shadow: 0 2px 2px -2px black;
}

.square-btn {
  border: none;
  font-size: 12px;
  padding: 8px;
  cursor: pointer;
}

.square-btn:hover {
  font-size: 12px;
  cursor: pointer;
  background-color: #eeeeee56;
}

.list li {
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  padding: 12px 0;
  border-top: 1px solid #eee;
}

.top-nav ul li {
  display: inline-block;
}

.top-nav .section {
  padding: 8px;
}

article {
  display: grid;
  grid-template-columns: 1fr 600px 1fr;
  grid-template-rows: auto;
  justify-content: center;
}

article p {
  margin: 0 auto;
  font-size: 23px;
  color: #111111cb;
  line-height: 32px;
  margin-bottom: 12px;
  grid-column: 2 / 2;
}

.card-body p {
  font-size: 16px;
  line-height: 22px;
  color: #111111c0;
}

.card-body a {
  font-size: 16px;
  line-height: 22px;
  color: #326891;
  text-decoration: none;
  font-weight: 700;
  padding: 8px 16px 0 0;
}

.top-nav .section a {
  position: relative;
  bottom: 6px;
  text-decoration: none;
  font-size: 13px;
  font-weight: 700;
  color: #111;
  text-transform: uppercase;
}

.nav-buttons {
  height: 28px;
}

.btn {
  border: 1px solid #326891;
  background-color: #567b95;
  border-radius: 3px;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  padding: 8px;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
}

.btn:hover {
  border: 1px solid #326891;
  background-color: #326891;
  transition: ease 0.6s;
  border-radius: 3px;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  padding: 8px;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
}

.main {
  margin-top: 120px;
  display: flex;
  justify-content: center;
}

article header {
  grid-column: 2 / -2;
}

article header h2 {
  font-size: 40px;
  line-height: 44px;
  margin: 0 auto;
}

article img {
  width: 100%;
}

article figure img {
  width: 100%;
}

article figure {
  margin: 0 20%;
  grid-column: 1 / -1;
}

.inside-p {
  width: 600px;
  margin: 0 auto;
}

article figcaption {
  font-size: 16px;
  color: #111111c0;
  margin-right: 25%;
  margin-bottom: 24px;
}

.photo-credit {
  font-size: 14px;
}

.editor-picks-card img {
  height: 80px;
  width: 80px;
}

article header .share-btn-set {
  display: flex;
  margin: 8px 0 24px 0;
}

footer .footer-nav li {
  font-size: 12px;
  padding: 4px 0;
}

footer .footer-bottom li {
  padding: 0 6px;
}

article header .share-btn-set li {
  background-color: #11111115;
  border: 1px solid #fff;
  border-radius: 50px;
  flex: 0 1;
  margin-right: 20px;
}

footer .footer-nav li:first-child {
  font-size: 12px;
  font-weight: bold;
  padding: 4px 0;
}

article header .share-btn-set li:hover {
  background-color: #fff;
  border: 1px solid #11111125;
  flex: 0 1;
}

article header .share-btn-set li a img {
  padding: 4px;
  width: 16px;
}

article .colofon {
  width: 600px;
  margin: 40px auto;
  grid-column: 2 / -2;
}

.author {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  margin-bottom: 18px;
}

.published {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

article h3 {
  padding: 24px 0 12px 0;
  font-weight: 700;
  font-size: 22px;
  grid-column: 2 / -2;
}

footer {
  background-color: #fff;
  margin: 0 30px;
}

.footer-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer-top-line {
  background-color: #fff;
  border-bottom: 1px solid #e2e2e2;
  border-top: 2px solid #e2e2e2;
  content: "";
  display: block;
  height: 1px;
  margin-top: 0;
}

footer .footer-nav ul {
  flex: 1 0 170px;
  margin-top: 10px;
}

footer .footer-bottom {
  display: flex;
  flex-direction: column;
  font-size: 10px;
  margin: 30px 30px 0 30px;
  padding: 12px 0 24px 0;
  border-top: 1px solid #eee;
  align-items: center;
  letter-spacing: 0;
}

.copyright {
  margin: 12px auto;
}

footer .footer-bottom ul {
  display: flex;
}

aside {
  font-size: 16px;
  max-width: 80%;
  grid-column: 3 / -2;
}

.editor-picks {
  font-size: 14px;
  font-weight: 700;
  padding: 0 0 12px 0;
  margin: 8px 8px;
  border-bottom: 1px solid #11111125;
}

.editor-picks-card {
  display: flex;
  padding: 6px;
}

.editor-picks-card p {
  padding: 8px;
  font-size: 14px;
  line-height: 20px;
  font-family: "Times New Roman", Times, serif;
}

.suggested {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  padding: 24px;
}

.suggested > div:nth-child(1) {
  flex: 3;
}

.suggested > div:nth-child(2) {
  flex: 1;
  margin-left: 30px;
}

.suggested h4 {
  border-top: 1px solid #111;
  padding-top: 24px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  flex: 1;
  margin-bottom: 12px;
}

.horizontal-card {
  padding: 16px;
  margin: 12px;
}

.suggested .horizontal-card {
  border: 1px solid #eee;
  border-radius: 8px;
  display: flex;
}

.suggested .vertical-card {
  display: flex;
  flex-direction: column;
  max-width: 30%;
  margin: 8px;
}

.card-body {
  padding: 12px;
}

.suggested .vertical-card .card-body {
  padding: 12px;
}

.card-body small {
  font-size: 12px;
}

.card-body h5 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 12px;
}

.galery {
  display: flex;
  flex-wrap: wrap;
}

.inflation-section {
  padding: 24px 120px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-column: 1 / -1;
}

.inflation-title {
  padding: 24px 0 12px 0;
  font-weight: 700;
  font-size: 22px;
}

.inflation-subtitle {
  font-size: 16px;
  color: #111111c0;
  margin-bottom: 24px;
}

.inflation-caption {
  margin-top: 32px;
  font-size: 16px;
  color: #111111c0;
  margin-bottom: 24px;
}

.inflation {
  background-image: url("/assets/images/inflation-945.png");
  background-position: top;
  background-size: 100% 100%;
  height: 600px;
  background-repeat: no-repeat;
  display: grid;
  gap: 40px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 1fr 1fr;
}

.inflation p {
  margin-top: 150px;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 18px;
}

.inflation p span {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

/* Page template A */

/* Page template B */

/* Media Queries */
